.conten{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.conten_div{
    display: flex;
    align-items: center;
    background: #fff;
}

.conten_div label{
color: #222;
font-weight: 400;
font-size: 13px;
padding:  0 10px;
}

.conten_div input {
    width: 100%;
    outline: none;
    padding: 12.5px 0;
    padding-right: 20px;
    border: none;

}

.conten button {
  padding: 12px;
  cursor: pointer;
 
}
